<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Joke web</title>
    <link rel="stylesheet" href="output.css">


</head>
<body>
    <div class="container ">
        <div class="mini-container">
             <h1>Enter Your Name</h1>
        <form action="/submit" method="post">
            <label class="h mb-2" for="name">Name:</label><br>
            <input class="h2" type="text" id="name" name="name" ><br>
            <button class="button" type="submit">General Your Joke </button>
        </form> 
        </div>
      

    
    </div>
</body>
</html>
