<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Joke web</title>
    <link rel="stylesheet" href="output.css">

</head>
<body>
    <div class="container ">

        <% if (name !== "") { %>
          <div class="joke">
            <h1> <%= name %></h1>
            <h1> <%= setup %></h1>
            <h2> <%= delivery %></h2>
            <h1> <%= joke %></h1>
        </div>
        <% }else {%>
            <div>
              <h1> Please enter your name </h1>  
            </div>
       
        <% } %>

        
        <button type="button" class="button " onclick="location.href='/home'"> Reset </button>
    
    </div>
</body>
</html>
